
@{
    ViewData["Title"] = "Index";
}

@{ 
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="form-group">
        <label for="FormControl">select Class</label>
        <select class="form-control" id="selectclass">
            <option default>Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="All">All</option>
        </select>
        <button id="btn">Search</button>

    </div>
</div>

<script src="~/js/Students/Student.js"></script>